.si { background-color: #57ec57;text-align: center;font-family: 'Courier New', Courier, monospace;}
.bd { background-color: #ff5e8f;text-align: center;font-family: 'Courier New', Courier, monospace;}
.in { background-color: #ffb732;text-align: center;font-family: 'Courier New', Courier, monospace;}
.p { background-color: #4cd5ff;text-align: center;font-family: 'Courier New', Courier, monospace;}
.ip { background-color: #fcff33e1;text-align: center;font-family: 'Courier New', Courier, monospace;}
.recreo { background-color: #7d51a769;text-align: center;font-family: 'Courier New', Courier, monospace;}
.cd { background-color: #5398ff;text-align: center;font-family: 'Courier New', Courier, monospace;}
.lm { background-color: #ff5050;text-align: center;font-family: 'Courier New', Courier, monospace;}
.st { background-color: #bdff71;text-align: center;font-family: 'Courier New', Courier, monospace;}
.nada { background-color: #cfcfcf;text-align: center;font-family: 'Courier New', Courier, monospace;}

.lunes { text-align: center;font-family: 'Courier New', Courier, monospace;}
.martes { text-align: center;font-family: 'Courier New', Courier, monospace;}
.mercores { text-align: center;font-family: 'Courier New', Courier, monospace;}
.xoves {text-align: center;font-family: 'Courier New', Courier, monospace;}
.venres { text-align: center;font-family: 'Courier New', Courier, monospace;}

table { margin: auto }

.asign { text-align: center;font-family: 'Courier New', Courier, monospace;}